In [2]:
%matplotlib inline

In [1]:
# my imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Data Tidying and Cleaning 4

Cleaning Data and Transformation

Resample

Groupby

Rolling

```pytnon
fillna()
```

Imputation - replace with common value

Outliers

Pandas ffill (forward fill), rfill (reverse fill)

In [2]:
titanik_data = pd.read_csv('https://raw.githubusercontent.com/Geoyi/Cleaning-Titanic-Data/master/titanic_original.csv')

In [3]:
titanik_data.dtypes

pclass       float64
survived     float64
name          object
sex           object
age          float64
sibsp        float64
parch        float64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

In [4]:
titanik_data.shape

(1310, 14)

In [6]:
titanik_data.describe().T

,count,mean,std,min,25%,50%,75%,max
pclass,1309.0,2.294882,0.837836,1.0000,2.0000,3.0000,3.000,3.0000
survived,1309.0,0.381971,0.486055,0.0000,0.0000,0.0000,1.000,1.0000
age,1046.0,29.881135,14.413500,0.1667,21.0000,28.0000,39.000,80.0000
sibsp,1309.0,0.498854,1.041658,0.0000,0.0000,0.0000,1.000,8.0000
parch,1309.0,0.385027,0.865560,0.0000,0.0000,0.0000,0.000,9.0000
fare,1308.0,33.295479,51.758668,0.0000,7.8958,14.4542,31.275,512.3292
body,121.0,160.809917,97.696922,1.0000,72.0000,155.0000,256.000,328.0000

In [7]:
titanik_data

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
iris_data = pd.read_csv('data/iris.data', header=None)

In [14]:
iris_data.describe().T

   count      mean       std  min  25%   50%  75%  max
0  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
1  150.0  3.054000  0.433594  2.0  2.8  3.00  3.3  4.4
2  150.0  3.758667  1.764420  1.0  1.6  4.35  5.1  6.9
3  150.0  1.198667  0.763161  0.1  0.3  1.30  1.8  2.5

In [19]:
iris_data[4].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [28]:
iris_data.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

In [34]:
iris_data[(iris_data.sepal_length >= 4.5) &
          (iris_data.sepal_length <= 10)].petal_length.mean()

3.826712328767123

In [43]:
white_wine_data = pd.read_csv('data/winequality-white.csv', delimiter = ';')

In [45]:
red_wine_data = pd.read_csv('data/winequality-red.csv', delimiter = ';')

In [49]:
white_wine_data.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [50]:
white_wine_data.quality.mean(), white_wine_data.alcohol.mean()

(5.87790935075541, 10.514267047774602)

In [51]:
red_wine_data.quality.mean(), red_wine_data.alcohol.mean()

(5.6360225140712945, 10.422983114446529)

In [52]:
# correlation between alcohol and quality red wines
red_wine_data.alcohol.corr(red_wine_data.quality)

0.47616632400113595

In [53]:
# correlation between alcohol and quality red wines
white_wine_data.alcohol.corr(white_wine_data.quality)

0.4355747154613735