In [28]:
%matplotlib inline

In [29]:
# my imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Data Tidying and Cleaning 2

In [30]:
tb_tidy = pd.read_csv('data/tb_tidy.csv')

In [31]:
tb_tidy

      iso2  year gender age_group   cases
0       AD  1996      m      0-14     0.0
1       AD  1996      m     15-24     0.0
2       AD  1996      m     25-34     0.0
3       AD  1996      m     35-44     4.0
4       AD  1996      m     45-54     1.0
...    ...   ...    ...       ...     ...
35547   ZW  2008      f     35-44  2890.0
35548   ZW  2008      f     45-54   467.0
35549   ZW  2008      f     55-64   174.0
35550   ZW  2008      f       65+   105.0
35551   ZW  2008      f   unknown     0.0

[35552 rows x 5 columns]

In [32]:
weather_data = pd.read_csv('data/weather.csv')

In [33]:
weather_data.columns

Index(['id', 'year', 'month', 'element', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6',
       'd7', 'd8', 'd9', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'd16',
       'd17', 'd18', 'd19', 'd20', 'd21', 'd22', 'd23', 'd24', 'd25', 'd26',
       'd27', 'd28', 'd29', 'd30', 'd31'],
      dtype='object')

In [34]:
weather_tidy = weather_data.melt(id_vars = ['id', 'year', 'month', 'element'], var_name = 'day')

In [35]:
weather_tidy['day'] = weather_tidy['day'].str.slice(1).astype(int)

In [36]:
weather_tidy.dtypes

id          object
year         int64
month        int64
element     object
day          int32
value      float64
dtype: object

In [17]:
weather_tidy = weather_tidy.dropna()

In [37]:
weather_tidy = weather_tidy.pivot_table(index = ['id', 'year', 'month', 'day'],
                                        columns = 'element',
                                        values = 'value')

In [39]:
weather_tidy = weather_tidy.reset_index()

In [41]:
weather_tidy.columns.name = ''

In [43]:
weather_tidy['date'] = pd.to_datetime(weather_tidy[['year','month', 'day']])

In [46]:
weather_tidy = weather_tidy.drop(columns = ['year', 'month', 'day'])

In [50]:
weather_tidy = weather_tidy[['id', 'date', 'tmin', 'tmax']]

In [51]:
weather_tidy.to_csv('data/weather_tidy.csv')