In [1]:
# my imports
import sqlalchemy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xlrd
import openpyxl
import requests
from bs4 import BeautifulSoup
from sqlalchemy import create_engine
import urllib.parse
import psycopg2

### Data Science basics 
#### Data Acquisition

Two important things in DS:
1. What do we want to do? - main topic of the course 
2. How to do it?

Ask the right questions. Obtain and clean up data. Explore and analyze data. Make the correct conclusions.

Scientific method. Research. Who worked on that topic?
Learn how to create a complete solution. 
How to communicate its results. 
Learn best practices.

Algebra, statistics and a little Calculus.

Scientific mindset.

EDA - exploratory data analysis

Reproducible research 
Data pipelines
"big" data

### Important dates:
25 June - 20 August lectures and project 
24-25 August regular exam

Homework and exam deadline 22 August

Homework = Quiz + lab

Books:
How not to be wrong- Jordan Ellenberg <br>
Python Data Science handbook - Jake VanderPlas <br>
https://jakevdp.github.io/PythonDataScienceHandbook/ <br>
Python for Data Analysis- Wes McKinney <br>
https://wesmckinney.com/book/ <br>

Choose your own adventure.

### Data Acquisition

1. The scientific method 
2. Setting up the environment (done)
3. Reading data from different sources:<br> a. Text files;<br> b. Excel;<br> c. Web sources;<br> d. SQL databases 
4. Data Consolidation Principles

#### The scientific method
Ask a question => do research => form Hypothesis => test hp => align / not align with hp => communicate results and next steps (go back to research, form new hp or new tests).

#### Reading data from different sources: 
a. Text files; <br>
b. Excel; <br>
c. Web sources; <br>
d. SQL databases. <br>

In [2]:
pd.DataFrame({"name":["Ivan", "Georgi"], "sirname":["Petrov","Ivanov"], "age":[22, 24]})

     name sirname  age
0    Ivan  Petrov   22
1  Georgi  Ivanov   24

In [3]:
pd.read_csv("data/accidents.csv")

  Miles from Home  % of Accidents
0     less than 1              23
1          1 to 5              29
2         6 to 10              17
3        11 to 15               8
4        16 to 20               6
5         over 20              17

```python
# postgre SQL v.1
user = 'user'
password = urllib.parse.quote_plus("password")
host = '127.0.0.1'
port = '5432'
database = 'dbname'


connection_str = f'postgresql://{user}:{password}@{host}:{port}/{database}'

engine = create_engine(connection_str)
```

```python
# postgre SQL v.2

conn = psycopg2.connect(
    dbname='name',
    host='localhost',
    user='user',
    password='password'
)

cur = conn.cursor()
cur.execute("""SELECT * from table_name""")
rows = cur.fetchall()
for row in rows:
    print(row)
conn.close()
```

#### Pandas - Python for Analytics and Data Science 
```python
import pandas as pd
```

#### Structured and unstructured data
Str: organized in columns
Unstr: some structure, not very clear

```python
pd.read_table()
```

Data frame / series

astype() method

Pandas: Zip support if 1 file in archive

For reading Excel:
```python
pd.read_excel()
```

In [2]:
pd.read_excel('data/xls_sales_data.xls')

         Date     City  Sales
0  2024-06-30    Sofia   2590
1  2024-07-01  Plovdiv   7731
2  2024-07-02   Pernik   4337
3  2024-07-03  Plovdiv   9682
4  2024-07-04    Sofia   2871
5  2024-07-05  Plovdiv   7496
6  2024-07-06   Pernik    508
7  2024-07-07  Plovdiv   6186
8  2024-07-08    Sofia   1027
9  2024-07-09  Plovdiv   5811
10 2024-07-10   Pernik   1576

In [3]:
pd.read_excel('data/xlsx_sales_data.xlsx')

         Date     City  Sales
0  2024-06-30    Sofia   2590
1  2024-07-01  Plovdiv   7731
2  2024-07-02   Pernik   4337
3  2024-07-03  Plovdiv   9682
4  2024-07-04    Sofia   2871
5  2024-07-05  Plovdiv   7496
6  2024-07-06   Pernik    508
7  2024-07-07  Plovdiv   6186
8  2024-07-08    Sofia   1027
9  2024-07-09  Plovdiv   5811
10 2024-07-10   Pernik   1576

xlrd library for xls
openpyxl library for xlsx

```Python
import xlrd
import openpyxl
```

Web sources 
RESTfull API
```python
pd.read_json()
```

orient = "index" parameter

```python
pd.read_xml()
```

Use SQL

SQLalchemy library
Create engine

```python
pd.read_sql()
```

https://github.com/nuitsjp/AdventureWorks-for-SQLite/tree/master

Use SQL queries 

```python
query = """
select * from table
limit 5
"""
```
psycopg2 for Postgres


Web Scraping  / Web Crawling 
```python
import requests
from bs4 import BeautifulSoup
```

In [4]:
base_url = 'https://www.scrapethissite.com/pages/forms/'

In [5]:
page = requests.get(base_url)

In [6]:
soup = BeautifulSoup(page.text, 'html')

In [7]:
table = soup.find('table', class_ = 'table')

In [8]:
headers = table.find_all('th')

In [9]:
titles = [header.text.strip() for header in headers]

In [10]:
df = pd.DataFrame(columns=titles)

In [11]:
rows = table.find_all('tr')[1:]

In [12]:
for row in rows:
    row_data = row.find_all('td')
    data = [record.text.strip() for record in row_data]
    df.loc[len(df)] = data

In [13]:
df

,Team Name,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,Boston Bruins,1990,44,24,,0.55,299,264,35
1,Buffalo Sabres,1990,31,30,,0.388,292,278,14
2,Calgary Flames,1990,46,26,,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,,0.425,273,298,-25
5,Edmonton Oilers,1990,37,37,,0.463,272,272,0
6,Hartford Whalers,1990,31,38,,0.388,238,276,-38
7,Los Angeles Kings,1990,46,24,,0.575,340,254,86
8,Minnesota North Stars,1990,27,39,,0.338,256,266,-10
9,Montreal Canadiens,1990,39,30,,0.487,273,249,24
10,New Jersey Devils,1990,32,33,,0.4,272,264,8
11,New York Islanders,1990,25,45,,0.312,223,290,-67
12,New York Rangers,1990,36,31,,0.45,297,265,32
13,Philadelphia Flyers,1990,33,37,,0.412,252,267,-15
14,Pittsburgh Penguins,1990,41,33,,0.512,342,305,37
15,Quebec Nordiques,1990,16,50,,0.2,236,354,-118
16,St. Louis Blues,1990,47,22,,0.588,310,250,60
17,Toronto Maple Leafs,1990,23,46,,0.287,241,318,-77
18,Vancouver Canucks,1990,28,43,,0.35,243,315,-72
19,Washington Capitals,1990,37,36,,0.463,258,258,0
20,Winnipeg Jets,1990,26,43,,0.325,260,288,-28
21,Boston Bruins,1991,36,32,,0.45,270,275,-5
22,Buffalo Sabres,1991,31,37,,0.388,289,299,-10
23,Calgary Flames,1991,31,37,,0.388,296,305,-9
24,Chicago Blackhawks,1991,36,29,,0.45,257,236,21

Selenium library

#### Data Consolidation Principles

Join and Concatenate

Pandas Merge method == join

Cartesian join + intersection

Concat

#### NB! Document actions and processes (why) and the results
#### NB! Use code for data cleaning and transformation